MINERS = [
    {
        "ip": "127.0.0.1",
        "password": "password"
    },
    {
        "ip": "192.168.0.1",
        "password": "12345678"
    },
    {
        "ip": "192.168.1.1",
        "password": "qwerty123456"
    }
]

POLL_INTERVAL = 10

# VictoriaMetrics configuration
VICTORIA_METRICS_URL = "http://localhost:8428/api/v1/import/prometheus"  # VictoriaMetrics import URL
VICTORIA_METRICS_TOKEN = ""  # Optional: Bearer token for VictoriaMetrics

# Logging configuration
LOG_ENABLED = True
LOG_LEVEL = "INFO"
LOGS_DIR = "../logs"
